.App {
  text-align: center;
}

html, body {
  font-family: 'Didact Gothic', sans-serif;
  background: url('https://cdn.wallpapersafari.com/89/46/txmrM7.gif');
  background-attachment: fixed;
}

button {
  cursor: pointer;
}
