.delete-button-container {
  display: flex;
}

.delete-button {
  padding-left: 40%;
  padding-top: 25%;
  width: 30px;
  height: 70px;
  background: none;
  border: none;
}

.delete-button:hover {
  transform: scale(1.2);
}
