.header {
  height: 66.67px;
  background-color: #2E537F;
  color: #FFFFFF;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-title {
  text-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

@media screen and (max-width: 500px) {
  .header-title {
    font-size: 24px;
    margin: auto;
  }
}

.header-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.home-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30px;
  width: 70px;
  align-items: center;
  border-radius: 7px;
  border: none;
  position: absolute;
  top: 1.5%;
  left: 90%;
  color: #2E537F;
  font-size: .3em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.dream-destinations-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: .3em;
  height: 30px;
  width: 90px;
  border-radius: 7px;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  background: none;
  position: absolute;
  top: 1.5%;
  left: 82%;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.suitcase {
  height: 20px;
  width: 20px;
}

.home {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 575px) {
  .home-button {
    top: 10%;
    left: 82%;
    height: 20px;
    width: 40px;
  }
  .dream-destinations-button {
    top: 13%;
    left: 75%;
    height: 20px;
    color: #2E537F;
  }
  .home {
    height: 0px;
    width: 0px;
  }
}
