.dream-destinations {
  margin-top: 5%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .dream-destinations {
    padding-top: 2%;
  }
}
