.flag-image {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.country-card {
  margin: auto;
  box-sizing: border-box;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #DEE6EE;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.country-name-header {
  border-radius: 20px 20px 0px 0px;
  height: 100px;;
  width: 100%;
  background-color: #2E537F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(3px + 1vw);
}

.country-name {
  color: #FFFFFF;
}

a, p {
  margin: 5px;
}

.add-to-destinations-button-container {
  display: flex;
  justify-content: center;
}

.add-to-destinations-button {
  padding-top: 15%;
  background: none;
  height: 50px;
  width: 50px;
  border: none;
}

.add-to-destinations-button:hover {
  transform: scale(1.2);
}

.country-information-container {
  color: #2E537F;
  margin: 5%;
}
