.flag-image {
  height: 60%;
  width: 100%;
}

.country-card {
  margin: auto;
  box-sizing: border-box;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 45px;
  background-color: #DEE6EE;
}

.country-name-header {
  border-radius: 45px 45px 0px 0px;
  height: 3%;
  width: 100%;
  background-color: #2E537F;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.country-name {
  color: #FFFFFF;
}

a, p {
  margin: 5px;
}

.add-to-destinations-button-container {
  display: flex;
}

.add-to-destinations-button {
  background-color: transparent;
  border: none;
}

.country-information-container {
  color: #2E537F;
  margin: 5%;
}

.pink {
  height: 30px;
  width: 30px;
}
